[submodule "dimabe-odoo/facturacion"]
	path = dimabe-odoo/facturacion
	url = git@github.com:dimabe-odoo/facturacion.git
	branch = master

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "KonosCL/addons-konos"]
	path = KonosCL/addons-konos
	url = git@github.com:KonosCL/addons-konos.git
	branch = 12.0
